
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myLineItemLabel" translate="employeeRecordsApp.lineItem.home.createOrEditLabel">Create or edit a LineItem</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="lineItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="employeeRecordsApp.lineItem.start" for="field_start">Start</label>
            <input type="datetime-local" class="form-control" name="start" id="field_start"
                    ng-model="lineItem.start"
                    required />
            <div ng-show="editForm.start.$invalid">
                <p class="help-block"
                    ng-show="editForm.start.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.start.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="employeeRecordsApp.lineItem.end" for="field_end">End</label>
            <input type="datetime-local" class="form-control" name="end" id="field_end"
                    ng-model="lineItem.end"
                    required />
            <div ng-show="editForm.end.$invalid">
                <p class="help-block"
                    ng-show="editForm.end.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.end.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="employeeRecordsApp.lineItem.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="lineItem.details"
                    required ng-minlength="20" />
            <div ng-show="editForm.details.$invalid">
                <p class="help-block"
                    ng-show="editForm.details.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.details.$error.minlength" translate="entity.validation.minlength" translate-value-min="20">
                    This field is required to be at least 20 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="employeeRecordsApp.lineItem.sheet" for="field_sheet">sheet</label>
            <select class="form-control" id="field_sheet" name="sheet" ng-model="lineItem.sheet" ng-options="Sheet as Sheet.id for Sheet in sheets track by Sheet.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
